In [1]:
import pandas as pd
import numpy as np

a = np.random.randint(0, 100, 100)
b = np.random.randint(0, 100, 100)

In [2]:
df = pd.DataFrame({"a": a, "b":b})

In [3]:
df

     a   b
0   45  34
1   64  29
2   16  35
3   37  40
4   27  59
..  ..  ..
95  20   3
96  74  17
97  58  93
98  11  75
99  57  58

[100 rows x 2 columns]

In [38]:
work_out = lambda x, y, x_mean, y_mean: (x - x_mean) * (y - y_mean)
a_mean = df.a.mean()
b_mean = df.b.mean()
a_std = df.a.std()
b_std = df.b.std()

In [39]:
total = 0
for row in df.iterrows():
    item_a = row[1].a
    item_b = row[1].b
    total += work_out(item_a, item_b, a_mean, b_mean)

In [41]:
total / ((len(df) - 1 ) * a_std * b_std)

-0.00999383831021653

In [46]:
min = 20
max = 71

count = 0
for item in df.a:
    if item <= max and item >= min:
        count += 1

In [47]:
count # kinda normal distribution

63